@using AnimalRescue.Web.ViewModels;

@{
    ViewBag.Title = "Login";
}

@model LoginViewModel

<div class="row d-flex justify-content-center">
    <div class="col">
        <div class="row">
            <form class="col-md-3" method="post" action="/Login">
                @Html.LabelFor(m => m.Username, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.LabelFor(m => m.Password, new { @class = "form-label mt-2" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert-danger mt-2">
                        @Html.ValidationSummary()
                    </div>
                }
                <input type="submit" class="btn btn-primary mt-2" value="Submit" />
            </form>
        </div>
    </div>
</div>